:root {
  --burgandy: #8b1734;
  --gold: #ebae38;
}
.wp-block-pakmail-cta {
  background-color: var( --burgandy );
  color: #fff;
  padding: 1rem;
}
.wp-block-pakmail-cta h2 {
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.wp-block-pakmail-cta p,
.wp-block-pakmail-cta a {
  color: #fff;
}
