:root {
  --burgandy: #8b1734;
  --gold: #ebae38;
}
article {
  padding-left: 0;
  padding-right: 0;
  padding: 0;
}
body {
  width: 100vw;
  margin-bottom: 0;
  overflow-x: hidden;
}
h2 {
  color: var( --burgandy );
  font-family: 'Oswald';
  text-align: center;
  text-decoration: underline;
}
h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
p {
  font-family: 'PT Sans';
}
.home .entry-header {
  display: none;
}
.wp-block-pakmail-cta {
  background-color: var( --burgandy );
  color: #fff;
  margin: 1em calc( 50% - 50vw );
  overflow: hidden;
  padding: 1rem;
}
.wp-block-pakmail-cta h2 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 0;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.wp-block-pakmail-cta p {
  display: block;
  font-family: 'PT Sans Narrow';
  float: left;
  font-size: 1.5rem;
  line-height: 2rem;
}
.wp-block-pakmail-cta p.link {
  margin-left: 2rem;
  margin-top: 1.5rem;
}
.wp-block-pakmail-cta a {
  color: #fff;
  outline: 1px solid #fff;
  padding: 0.6rem;
  text-decoration: none;
}
.wp-block-pakmail-cta a:hover {
  color: #dfdfdf;
  text-decoration: none;
}
.wp-block-image figure {
  max-width: 50%;
}
.wp-block-pullquote {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.wp-block-pullquote p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}
.navbar {
  flex-wrap: wrap;
}
.nav-item {
  border-bottom: 1px solid var( --burgandy );
  text-transform: uppercase;
}
.nav-item a {
  margin-left: 1rem;
}
.nav-item:last-of-type {
  border-bottom-width: 0px;
}
.nav-item.active {
  border-bottom-width: 0px;
  outline: 1px solid var( --burgandy );
}
.header-widget {
  flex-basis: 100%;
  text-align: right;
}
.header-widget p {
  margin-bottom: 0;
}
.footer-widgets .widget-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-widget h2 {
  color: #000;
  font-size: 1rem;
  margin: 0;
  text-align: left;
  text-decoration: none;
}
.footer-widget {
  margin-bottom: 1rem;
}
.footer-widget p {
  margin-bottom: 0;
}

@media (min-width:544px) {

}

@media (min-width:768px) {

}

@media (min-width:992px) {
  .nav-item {
    border-bottom: 0;
    border-right: 1px solid var( --burgandy );
    text-transform: uppercase;
  }
  .nav-item a {
    margin-left: 0;
  }
  .nav-item:last-of-type {
    border-right-width: 0px;
  }
  .nav-item.active {
    border-right-width: 0px;
    outline: 1px solid var( --burgandy );
  }
  .navbar-brand img {
    height: 75px;
    max-height: 75px;
    transition: all  0.2s ease-in-out;
  }
  .navbar-brand img.scroll {
    height: 50px;
  }
  .wp-block-pakmail-cta h2 {
    color: #fff;
    font-size: 5.5rem;
  }
  .wp-block-pakmail-cta p {
    font-size: 2rem;
    max-width: calc( 50% - 2rem );
  }

}

@media (min-width:1200px) {

}
